{% extends 'blog/base_index.html' %}
{% block title %}
    Index Page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-11 rounded">
                    <ul>
                        {% for category in categories %}
                            <li class="">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!--<div class="col">-->
                <!--</div>-->
            </div>
        </div>
            <div class="col-9 rounded">
                <ul>
                    {% for article in articles %}
                        <!-- article 必须传入参数， article.id 作为参数传入 -->
                        <li>
                   <a href="{{ article.get_absolute_url }}">{{ article.title }} {{ article.author}}{{article.create_time|date:"Y-m-d H:i"}} 阅读量:{{ article.views }}</a>
                        </li>
                    {% endfor %}
                    <!--1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>-->
                </ul>
            </div>
    </div>
{% endblock %}